*{
    margin: 0;
    padding: 0;
    background-color: #F7F8FC;
    box-sizing: border-box;
}

ul li{
    list-style: none;
    align-items: center;
    width: 40px;
    height: 30px;
}
ul .icons:hover {
    background-color: rgb(23, 23, 166);
}
.logo img {
    width:80px;
    left: 0;
}

.icons img {
    width: 20px;
    vertical-align: middle;
    background-color: none;
}

ul li:last-child{
    margin-top: 110px;
}
ul li:first-child{
    margin-bottom: 20px;
}
.navbar {
    width: 80px;
}