*{
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
}

.trackeruno_background {
    border: 0.5px solid grey;
    background-color: white;
    
}

.trackeruno_Search{
    background-color: antiquewhite;
    border-color: black;
}

.trackeruno_Date {
    color: black;
}


.trackeruno_ImageMap {
    padding: 20px 20px 0 20px;
    
}

.SymbolCasesMolecule {

}